:root {
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	--Text-Black: #1F1F1F;
	--Text-White: #FFFFFF;
	--Color-2: #F4F0EA;
}

body {
	font-family: "Lato", serif;
	margin: 0px;
}

.banner {
	background-image: url("./img/001.jpg");
	height: 883px;
	padding: 4px 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: var(--Text-White);
}

.banner-nav-describe-text {
	display: flex;
}

.banner-nav {
	margin: 30px 30px 0;
}

.banner-nav-describe{
	background: var(--Text-Black);
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	padding: 4px 12px;
}

.banner-time{
	display: flex;
}

.banner-time-item {
	width: 28px;
	text-align: center;
}

.banner-time-number,
.banner-time-text {
	text-align: center;
}

.banner-time-text{
	font-size: 9px;
	font-weight: 400;
	line-height: 14px;
	text-align: center;
	height: 10px;
}

.banner-time-distance {
	width: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-nav-menu {
	display: flex;
	padding: 13px 12px;
	justify-content: space-between;
	
}

.banner-nav-menu-items {
	display: flex;
	align-items: center;
	gap: 16px;
}

.menu {
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.banner-content {
	display: flex;
	position: absolute;
	top: 307px;
	right: 0;
	width: 100%;
	justify-content: center;
}

.banner-text {
	font-size: 64px;
	font-weight: 400;
	line-height: 74px;
	text-align: center;
	max-width: 822px;
}

.section {
	margin-top: 80px;
}

.section.one img{
	height: 100%;
}

.section.one > .title {
	font-size: 40px;
	font-weight: 400;
	line-height: 54px;
	text-align: center;
}

.section.one .listImgs{
	display: flex;
	margin: 49px auto;
	justify-content: center;
	gap: 30px;
}

.section.one .img {
	width: 379px;
	height: 617.89px;
	object-fit: cover;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
}

.section.one .describe {
	max-width: 810px;
	margin: auto;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.section.two {
	display: grid;
	gap: 8px;
	grid-template-columns: calc(50% - 4px) calc(50% - 4px);;
	color: var(--Text-Black);
	max-width: 1368px;
	margin: 80px auto 0;
}

.section.two .blog {
	overflow: hidden;
	height: 800px;
	border-radius: 24px;
	background: var(--Color-2);
	display: flex;
	align-items: flex-end;
}

.section.two img {
	height: 100%;
}
.section.two .blog-text {
	margin: 48px;
}

.blog-text .blog-title {
	font-size: 64px;
	font-weight: 400;
	line-height: 74px;
}

.section.two  .blog-content{
	margin-top: 24px;
}
.section.two  .blog-content p {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
}

.section.two .blog-content div {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 8px;
}

.section.three{
	max-width: 1368px;
	margin: 80px auto 0;
}

.section.three .title{
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.section.three .text{
	font-size: 32px;
	font-weight: 400;
	line-height: 44px;
}

.section-product {
	max-width: 1368px;
	margin: 80px auto 0;
	color: var(--Text-Black);
	display: flex;
	height: 796px;
}

.section-product-img {
	overflow: hidden;
	width: 50%;
	display: flex
}

@media only screen and (max-width: 376px) {
	.mobile-hidden {
		display: none;
	}
	
	.logo svg{
		width: 67px;
		height: 26px;
	}

	.banner-text {
		font-size: 48px;
	}

	.banner-nav-describe {
		font-size: 9px;
		font-weight: 400;
		line-height: 14px;
		height: 25px;
	}

	.banner-time-item {
		font-size: 8px;
		font-weight: 400;
		line-height: 9px;
	}

	.banner {
		padding:8px
	}

	.banner-nav {
		margin: 0;
	}

	.banner-nav-menu {
		padding: 9px;
	}

	.section.one .img  {
		height: 289px;
	}

	.section.one .listImgs {
		padding: 0 8px;
		gap: 4px;
	}

	.section.one .describe{
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
		padding: 0 8px
	}

	.listImgs {
		margin: 27px auto;
	}

	.section  {
		margin: 40px 0;
	}

	.section.two {
		grid-template-columns: 100%;
		padding: 0 8px;
	}

	.section.two .blog-text {
		margin: 18px;
	}

	.blog-text .blog-title {
		font-size: 32px;
		font-weight: 400;
		line-height: 42px;
	}

	.section.two .blog-content div {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}

	.section.two .blog-content p{
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}

	.section.three .title {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}

	.section.three {
		padding: 0 8px;
	}

	.section.three .text {
		font-size: 28px;
		font-weight: 400;
		line-height: 44px;
	}

	.section.two .blog {
		height: auto;
		min-height: 420px;
	}
	.section.two img {
		height: 420px
	}

	.first-blog{
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.section.three {
		margin: 40px 0;
	}
}
